extends layout

block content
    nav(aria-label='breadcrumb')
        ol.breadcrumb
            li.breadcrumb-item
                a(href='/') Home
            li.breadcrumb-item
                a(href='/news') News
    h1 News page
    != messages('message', locals)
    br
    .row
    each singleNew, i in news
        .col
            h4.title=singleNew.title
            p Event info: #{singleNew.description}
            p When: #{singleNew.date} #{singleNew.time}
        if user
            a.btn.btn-primary(href='/news/edit/'+ singleNew._id) Edit
            a.btn.btn-danger.delete-news(href='#', data-id=singleNew._id) Delete
        hr
        br