extends layout

block content
    h1 single document page
    br
    p Id: #{document._id}
    p Document type: #{document.document_type}
    p Document title: #{document.title}
    p Document author: #{document.author} 
    p Document created at: #{document.created_at}
    p Document description: #{document.description}
    p Document tags: #{document.tag}
    strong
        p TODO: upload/download pics/docs
    hr
    //- visible if logged in
    if user
        a.btn.btn-primary(href='/document/edit/'+ document._id) Edit
        a.btn.btn-danger.delete-document(href='#', data-id=document._id) Delete
    a(href='/' + document.author) More from this author...